body {
    display: grid;
    grid-template-columns: min-content auto;
    grid-column-gap: 10px;
    font-family: sans-serif;
}

#stats {
    display: grid;
    grid-template-columns: min-content 50px;
    grid-column-gap: 10px;
    text-align: right;
}

#items {
    display: grid;
    grid-template-columns: min-content min-content;
    grid-column-gap: 10px;
    text-align: right;
}

#stats label, #items label {
    white-space: nowrap;
    text-transform: capitalize;
}

.log {
    font-family:
        "SFMono-Regular",
        Consolas,
        "Liberation Mono",
        Menlo,
        Courier,
        monospace;
    font-size: 11px;
    height: 250px;
    overflow-y: scroll;
}

#simsContainer {
    display: grid;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    align-self: start;
}

.sim {
    position: relative;
    border: 3px solid #4CAF50;
}

.sim.paused {
    border-color: #9e9e9e;
}

.chosenBuffs, .equipedItems {
    font-size: 12px;
    border-bottom: 1px solid black;
}
